.gradient-custom-2 {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

.container {
  max-width: 100%;
  padding-top: rem !important;
}

.btn.gradient-custom-2 {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  color: white;
  border: none;
}

.btn.gradient-custom-2:hover {
  opacity: 0.9;
}

.alert-info {
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  color: #004085;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
