<div class="landing-wrapper">
  <!-- Navbar -->
  <nav class="navbar">
    <img src="./logo11.png" alt="WorkMax Logo" class="logo" />
    <ul class="nav-links">
      <!-- <li><a href="#">Pricing</a></li> -->
      <li><a href="#">Contact us  </a></li>
      <li><a [routerLink]="['/sign-in']">Sign in</a></li>
    </ul>
  </nav>

  <!-- Main Content -->
  <main class="main-content">
    <h1>
      A New Way To connect<br />
      benched talent to the<br />
      <span class="highlight">right tasks.</span>
    </h1>
    <p>
      The ultimate platform that maximizes workforce efficiency,
      optimizes task allocation, and drives project success.
    </p>
    <button class="cta-button" (click)="navigateToCreateAccount()">Create Account &gt;</button>
  </main>

  <!-- Footer -->
  <footer class="footer">
    © 2025 WorkMax
  </footer>
</div>
