<div class="container">
  <div class="card">
    <img src=".\logo11.png" class="logo" />
    <!-- <h2>WorkMAX</h2> -->

    <form>
      <input type="text" placeholder="UserName" />
      <input type="email" placeholder="Email Id" />
      
      <select>
        <option disabled selected>Select Role</option>
        <option value="team-lead">Team Lead</option>
        <option value="benched-employee">Benched Employee</option>
      </select>
      
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />

      <button type="submit">Create Account</button>
    </form>
  </div>
</div>
