<div class="container">
  <div class="card">
    <img src=".\logo11.png" class="logo" />
    <!-- <h2>WorkMAX</h2> -->

    <form (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="userData.username" name="username" placeholder="UserName" required />
      <input type="email" [(ngModel)]="userData.email" name="email" placeholder="Email Id" required />
      
      <select [(ngModel)]="userData.role" name="role" required>
        <option value="" disabled selected>Select Role</option>
        <option value="team-lead">Team Lead</option>
        <option value="benched-employee">Benched Employee</option>
      </select>
      
      <input type="password" [(ngModel)]="userData.password" name="password" placeholder="Password" required />
      <input type="password" [(ngModel)]="userData.confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

      <button type="submit">Create Account</button>
    </form>
  </div>
</div>
